.encode_input{
    padding: 15px;
    border-radius: 70px;
    width: 618px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border: 0;
}
.encode_button{
    padding: 15px;
    border-radius: 70px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border: 0;
    background-color: red;
    color: white;
}
.encode_form{
    display: block;
    margin-left: 387px;
    margin-top: 48px;
}
.encode_output{
    margin: 0px;
    width: 568px;
    height: 183px;
    display: block;
    width: 618px;
    margin-left: 388px;
    margin-top: 15px;
    padding: 15px;
    width: 618px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border: 0;
    border-radius: 9px;
}
